# Ignore everything
*

# Whitelist ddev config
!/.ddev/
!/.ddev/config.yaml

# Whitelist core files
!/gitignore
!/composer.json
!/composer.lock
!/README.md
!/setup.sh
!/patch.sql

# Whitelist app
!/app/
!/app/**
/app/cache/*
/app/logs/*

# Whitelist local data
!/local/
!/local/**

# Whitelist public
!/public/
!/public/**

# Whitelist src
!/src/
!/src/**