<h2>Administratives</h2>
<h3 style="color:blue;">Dokumente &amp; Reglemente </h3>


<p><strong>Schützenmeisterordner 25/50m und 300m</strong> <em>(Stand: 03.03.2025)</em></p>

<ul class="pdflink">

    <li><a href="/files/2025_03_01_Schuetzenmeisterordner_Link_Liste.pdf">Schützenmeisterordner (alle Distanzen))</a></li></ul>

<hr />
<p><strong>Meldung über schlecht ausgebildete Pflichtschützen</strong></p>


<ul class="pdflink">

    <li>
        <a href="/files/Feststellungen_Pflichtschuetzen.pdf">Meldeformular über schlecht ausgebildete Pflichtschützen</a></li></ul>
<hr />
