<h2>{tst:text value='title'}</h2>

<p class="backlink">&laquo; <a href="{tst:text value='backlink'}">zurück</a></p>

<div class="progdetails group">
<dl class="group">
  <dt>Durchführender Verein:</dt>
  <dd>{tst:text value='verein'}&nbsp;</dd>
</dl>

<dl class="group">
  <dt>Datum:</dt>
  <dd>{tst:text value='datum'}&nbsp;</dd>
</dl>

<dl class="group">
  <dt>Zeit:</dt>
  <dd>{tst:text value='zeit'}&nbsp;</dd>
</dl>

<dl class="group">
  <dt>Ort:</dt>
  <dd>{tst:text value='ort'}&nbsp;</dd>
</dl>
{tst:text value='bemerkungen'}
{tst:text value='dokumente'}

{tst:text value='export'}
</div>