<h2>Eidgenössisches Schützenfest 2007 im Tessin</h2>

<div class="schuetzenbox">
<div id="schuetzenfest">
<div id="fototicker">
<h4>Aktuelles Foto</h4>
<div>{tst:text value='foto'}</div>
<p><a href="eidg07album.html">weitere Fotos</a> &raquo;</p>
</div>

<div id="newsticker">
<h4><span>News-Ticker</span> <em>{tst:text value='datum'}</em></h4>
{tst:text value='eidgnews'}
<p><a href="eidg07news.html">weitere News</a> &raquo;</p>
</div>

<div id="ranglisteticker">
<h4>Rangliste</h4>
<p><a href ="eidg07ranglisten.html">Aktuelle Ranglisten</a></p>
</div>
</div></div>