<!-- UG_AKTIV START -->
<h2>Registrieren</h2>

<p>Sie sind bereits eingeloggt. <a href="start.html">weiter</a></p>
<!-- UG_AKTIV ENDE -->

<!-- UG_VISITOR START -->
<p>Wenn Sie sich für einen Zugang registrieren möchten, füllen Sie bitte untenstehende Felder aus.</p>

{tst:text value='status'}

<form action="register.html?send=1" method="post" class="form-edit">

<fieldset>
<h3>Registrierung</h3>
<dl>
  <dt><label for="vereinID">Verein<em>*</em></label></dt>
  <dd><select name="vereinID" id="vereinID">{tst:text value='vereine'}</select></dd>
</dl>

<dl>
  <dt>Anrede<em>*</em></dt>
  <dd><input type="radio" class="radio" name="anrede" id="Frau" value="Frau"{tst:text value='frau'} /><label for="Frau">Frau</label> <input type="radio" class="radio" name="anrede" id="Herr" value="Herr"{tst:text value='herr'} /><label for="Herr">Herr</label></dd>
</dl>

<dl>
  <dt><label for="vorname">Vorname<em>*</em></label></dt>
  <dd><input type="text" class="text" name="vorname" id="vorname" value="{tst:text value='vorname'}"  /></dd>
</dl>

<dl>
  <dt><label for="nachname">Nachname<em>*</em></label></dt>
  <dd><input type="text" class="text" name="nachname" id="nachname" value="{tst:text value='nachname'}"  /></dd>
</dl>

<dl>
  <dt><label for="strasse">Strasse<em>*</em></label></dt>
  <dd><input type="text" class="text" name="strasse" id="strasse" value="{tst:text value='strasse'}"  /></dd>
</dl>

<dl>
  <dt><label for="plz">PLZ<em>*</em></label></dt>
  <dd><input type="text" class="text" name="plz" id="plz" value="{tst:text value='plz'}"  /></dd>
</dl>

<dl>
  <dt><label for="ort">Ort<em>*</em></label></dt>
  <dd><input type="text" class="text" name="ort" id="ort" value="{tst:text value='ort'}"  /></dd>
</dl>

<dl>
  <dt><label for="lizenz">Lizenznummer</label></dt>
  <dd><input type="text" class="text" name="lizenz" id="lizenz" value="{tst:text value='lizenz'}"  /></dd>
</dl>

<dl>
  <dt><label for="telefon">Telefon</label></dt>
  <dd><input type="text" class="text" name="telefon" id="telefon" value="{tst:text value='telefon'}"  /></dd>
</dl>

<dl>
  <dt><label for="email">E-Mail<em>*</em></label></dt>
  <dd><input type="text" class="text" name="email" id="email" value="{tst:text value='email'}"  /></dd>
</dl>

<dl>
  <dt><label for="passwort">Passwort<em>*</em></label></dt>
  <dd><input type="password" class="password" name="passwort" id="passwort" /></dd>
</dl>

<dl>
  <dt><label for="passwort_confirm">Passwort wiederholen<em>*</em></label></dt>
  <dd><input type="password" class="password" name="passwort_confirm" id="passwort_confirm" /></dd>
</dl>

<dl>
  <dt><label for="kommentar">Kommentar</label></dt>
  <dd><textarea cols="40" rows="10" id="kommentar" name="kommentar">{tst:text value='kommentar'}</textarea></dd>
</dl>
</fieldset>

<fieldset class="submit"><input type="submit" class="submit" value="senden" /></fieldset>
</form>
<!-- UG_VISITOR ENDE -->