<h2>Vorstand BSVB</h2>

<div id="vorstand">
<div class="clrItem">
<dl>
<dt><img src="/images/burgener.jpg" width="100" height="120" alt="Rene Burgener" />Präsident</dt>
<dd>Rene Burgener <br />
Quentlistrasse 86<br />
8193 Eglisau</dd>
<dd>Mobil 076 501 16 28<br />
<a href="mailto:praesident@bsv-buelach.ch">E-Mail</a></dd>

</dl>

<dl>
<dt><img src="/images/Grether1.jpg" width="100" height="120" alt="" />Kassier</dt>
<dd>Andre Grether<br />
Fabrikstrasse 20<br />
8887 Mels<br />
Natel: 076 345 04 43<br /> 
<a href="mailto:kassier@bsv-buelach.ch ">E-Mail</a></dd>
</dl>


</div>

<hr />

<div class="clrItem">
<dl>
<dt><img src="/images/burgener.jpg" width="100" height="120" alt="Rene Burgener" />Schützenmeister 300m</dt>
<dd>Rene Burgener <br />
Quentlistrasse 86<br />
8193 Eglisau</dd>
<dd>Mobil 076 501 16 28<br />
<a href="mailto:sm300@bsv-buelach.ch">E-Mail</a></dd>
</dl>

<dl>
<dt><img src="/images/martin.mezger.png" width="105" height="115" alt="" />Schützenmeister 50/25m<br /><em></em></dt>
<dd>Martin Mezger<br />
Lufingerstrasse 2B<br />
8185 Winkel</dd>
<dd>Mobil 078 870 77 73<br />
<a href="mailto:sm50@bsv-buelach.ch">E-Mail</a></dd>

</dl>
</div>


 





<hr />

<div class="clrItem">
<dl>
<dt><img src="/images/Keller_Doris.jpg" width="100" height="120" alt="" />Sekretärin</dt>
<dd>Doris Keller <br />
Chasernweg 45<br />
8302 Kloten</dd>
<dd>Tel. 079 677 56 11<br />
<a href="mailto:sekretariat@bsv-buelach.ch">E-Mail</a></dd></dl>

<dl>
<dt><img src="/images/bruno-trachsel.jpg" width="100" height="120" alt="Bruno Trachsel" />JS- und Nachwuchschef</dt>
<dd>Bruno Trachsel <br />
Haldenstrasse 28<br />
8302	Kloten</dd>
<dd>Mobil 079 460 99 05<br />
<a href="mailto:jschef@bsv-buelach.ch">E-Mail</a></dd>
</dl>
</div>


<hr />

<div class="clrItem">
<dl>
<dt><img src="/images/daniel_furrer.jpg" width="100" height="120" alt="Daniel Furrer" />Chef Feldschiessen</dt>
<dd>Daniel Furrer <br />
Untereichenstrasse 16<br />
8309 Nürennsdorf</dd>
<dd>Tel. ---<br />
<a href="mailto:daniel.furrer@bsv-buelach.ch">E-Mail</a></dd></dl>

<dl>
<dt><img src="/images/Grether1.jpg" width="105" height="115" alt="" />Webmaster / VVA <br /><em></em></dt>
<dd>Andre Grether<br />
Fabrikstrasse 20<br />
8887 Mels<br />
Natel: 076 345 04 43<br /> 
<a href="mailto:webmaster@bsv-buelach.ch">E-Mail</a></dd>
</dl>

</div>
</div>