<h2>{{TITLE}}</h2>

<!-- NOTUG_ADMIN START -->
<p>Sie besitzen keine Rechte um den Inhalt dieser Seite anzuzeigen.</p>
<!-- NOTUG_ADMIN ENDE -->

<tst:if compare="isAdmin" operator="EQ" against="true">
<p class="link-add"><a href="vereinMod-0.html"><span>Verein hinzufügen</span></a></p>

<form method="post" action="vereine.html" class="form-show">
<fieldset>
<div>
	<label for="stichwort">Stichwort</label> <input type="text" class="text" name="stichwort" id="stichwort" value="{{STICHWORT}}" /> <input type="submit" class="submit" name="find" value="anzeigen" /></div>
</fieldset>
</form>

{{LISTE}}
</tst:if>