<div class="main-header">
    <h1>{tst:text value='pageTitle'}</h1>
</div>

<div class="card | flow-layout-m">
    <h2>Update: 04.04.2014 / 17:00 Uhr</h2>
    <p><strong>Die nächste Vorstandsitzung findet am 5. Mai 2014 statt.</strong><br> Die Einladung ist noch Pendent.</p>
    <p>Um die Einladung zur nächsten Vorstandsitzung sowie weitere Informationen zu finden, bitte unter Vorstand auf das jeweilige Datum (Titel) klicken. Die Protokolle sind mit den jeweiligen Daten verlinkt. </p>

    <p>{tst:text value='yearNavigation'}</p>
    {tst:text value='list'}
</div>