<h2>Herzlich Willkommen im internen Bereich des Bezirksschützenverband Bülach</h2>

<!-- UG_VISITOR START -->
<p>Sie besitzen keine Rechte um den Inhalt dieser Seite anzuzeigen.</p>
<!-- UG_VISITOR ENDE -->

<!-- UG_AKTIV START -->
<p>Hier können Sie Anlässe auf der Homepage des BSVB hinzufügen und jederzeit ändern. Ebenso haben Sie die Möglichkeit, eine oder mehrere Einladungen (PDF) hoch zu laden. Einladungen können auch zu einem späteren Zeitpunkt hoch geladen oder gelöscht werden. </p>

<p>Für Fragen wenden Sie sich bitte an den Webmaster: <a href="mailto:webmaster@bsv-buelach.ch">webmaster@bsv-buelach.ch</a>.</p>

<p>Freundliche Grüsse<br/>
<strong>Bezirksschützenverband Bülach</strong></p>

<!-- UG_VORSTAND START -->
<p><a href="https://ssv-vva.esport.ch/p2plus/ssv/login.asp?/p2plus/ssv/default.asp">Vereins- und Verbandsadministration</a></p>
<!-- UG_VORSTAND ENDE -->

<!-- UG_ADMIN START -->
<div class="group">
<div class="first">

<div class="section">
<h3>Unbestätigte Zugriffsanfragen</h3>
{{UNCONFIRMED}}
</div>

<div class="section">
<h3>Zu prüfende Anlässe</h3>
{{TOCHECK}}
</div>
</div>

<!-- UG_ADMIN ENDE -->

<div class="secondary" id="legend">
<h3>Abkürzungen für PDFs</h3>

<div id="legende">
<dl>
  <dt>ra</dt>
  <dd>Ranglisten</dd>
</dl>
<dl>
  <dt>jp</dt>
  <dd>Jahresprogramm</dd>
</dl>
<dl>
  <dt>au</dt>
  <dd>Ausführungsbestimmungen</dd>
</dl>
<dl>
  <dt>re</dt>
  <dd>Reglemente</dd>
</dl>
<dl>
  <dt>be</dt>
  <dd>Bericht</dd>
</dl>
<dl>
  <dt>in</dt>
  <dd>Infos</dd>
</dl>
<dl>
  <dt>gr</dt>
  <dd>Gruppenmeisterschaft</dd>
</dl>
<dl>
  <dt>js</dt>
  <dd>Jungschützen</dd>
</dl>
<dl>
  <dt>jj</dt>
  <dd>Jugendliche</dd>
</dl>
<dl>
  <dt>ak</dt>
  <dd>Aktive</dd>
</dl>
<dl>
  <dt>ve</dt>
  <dd>Veteranen</dd>
</dl>
<dl>
  <dt>rp</dt>
  <dd>Rapporte</dd>
</dl>
</div>
</div>

</div>

<!-- UG_AKTIV ENDE -->