<h2>Ranglisten BSVB</h2>

<ul id="subnavi" class="clrItem">
  <li><a href="gmrang.html">BSVB</a></li>
  <li><a href="gmrangssv.html">SSV</a></li>
  <li><a href="gmrangzhsv.html">ZHSV</a></li>
</ul>

<h5><u>Update: 11.05.2025 / 12:10 Uhr)</u></h5>
<!--<p>Zurzeit keine Infos verfügbar</p>-->




<hr />
<h3 style="color:red;">GM Final BSVB vom 10.05.2025 in Wallisellen </h3>

<ul class="pdflink">

<li><a href="files/Rang_BSVB_Final2025_FeldA.pdf">Rangliste Feld A</a><em> (11.05.2025)</em></li>
<li><a href="files/Rang_BSVB_Final2025_FeldD.pdf">Rangliste Feld D</a><em> (11.05.2025</em></li>
<li><a href="files/Rang_BSVB_Final2025_FeldE.pdf">Rangliste Feld E</a><em> (11.05.2025)</em></li>
</ul>







<hr />
<h3 style="color:red;">GM Final BSVB vom 08.06.2024 in Wallisellen </h3>


<ul class="pdflink">

<li><a href="files/Rang_BSVB_Final2024_FeldA.pdf">Rangliste Feld A</a><em> (08.05.2024)</em></li>
<li><a href="files/Rang_BSVB_Final2024_FeldD.pdf">Rangliste Feld D</a><em> (08.05.2024</em></li>
<li><a href="files/Rang_BSVB_Final2024_Einzelrangliste.pdf">Einzelsieger</a><em> (08.05.2024)</em></li>
</ul>













<hr />
<h3 style="color:red;">GM Final BSVB vom 13.05.2023 in Wallisellen </h3>


<ul class="pdflink">

<li><a href="files/GM_Final_BSVB_total_2023_feld_A.pdf">Rangliste Feld A</a><em> (13.05.2023)</em></li>
<li><a href="files/GM_Final_BSVB_total_2023_feld_d.pdf">Rangliste Feld D</a><em> (13.05.2023)</em></li>
<li><a href="files/GM_Final_BSVB_top_3_2023.pdf">Rangliste Top 3</a><em> (13.05.2023)</em></li>
</ul>









</ul>



<h3 style="color:red;">Vorrunden 300m 2023</h3>


<ul class="pdflink">
<li><a href="files/SGM_G300_Rangliste_Gruppenrangliste_A.pdf">1. & 2. VR Feld A</a><em> (06.05.2023)</em></li>
<li><a href="files/SGM_G300_Rangliste_Gruppenrangliste_D.pdf">1. & 2. VR Feld D</a><em> (06.05.2023)</em></li>
<li><a href="files/SGM_G300_Rangliste_Gruppenrangliste_E.pdf">1. & 2. VR Feld E</a><em> (06.05.2023)</em></li>

</ul>











<hr />


<hr />
<h3 style="color:red;">GM Final BSVB vom 28.05.2022 in Wallisellen </h3>


<ul class="pdflink">

<li><a href="files/GMFINAL_BSVB_2022_Feld_A_komplett.pdf">Rangliste Feld A</a><em> (28.05.2022)</em></li>
<li><a href="files/GMFINAL_BSVB_2022_Feld_D_komplett.pdf">Rangliste Feld D</a><em> (28.05.2022)</em></li>
<li><a href="files/GMFINAL_BSVB_2022_Feld_E_komplett.pdf">Rangliste Feld E</a><em> (28.05.2022)</em></li>
</ul>



<ul class="pdflink">

<li><a href="files/GMFINAL_BSVB_2022_Einzelrangliste.pdf">Einzelrangliste</a><em> (28.05.2022)</em></li>


</ul>



<h3 style="color:red;">Vorrunden 300m 2022</h3>


<ul class="pdflink">
<li><a href="files/gmvr_feldA_bsvb_22.pdf">1. & 2. VR Feld A</a><em> (18.05.2022)</em></li>
<li><a href="files/gmvr_feldD_bsvb_22.pdf">1. & 2. VR Feld D</a><em> (18.05.2022)</em></li>
<li><a href="files/gmvr_feldE_bsvb_22.pdf">1. & 2. VR Feld E</a><em> (18.05.2022)</em></li>


</ul>



