<h2>Unterländer Wyberschiessen 2025</h2>

<p>Das 48.Wyberschiessen 2025 findet in Weiach statt. 


<h3 style="color:blue;">
 Die Daten für 2025 sind:</h3>

<dl class="fruehlingsliste">

<dt>08. August 2025</dt>
<dd>18:00 - 20:00 Uhr</dd>


<dt>22. August 2025 </dt>
<dd>18:00 - 20:00 Uhr</dd>

<dt>23. August 2025 </dt>
<dd>16:00 - 18:00 Uhr</dd>

</dl>


<dl class="fruehlingsliste">
<dt>Ausstich </dt>
<dd>Samstag, ca. 18:30 Uhr</dd>

<dt>Absenden</dt>
<dd>im Anschluss, ca. 19:00 Uhr</dd>
</dl>


<ul class="pdflink">
<li><a href="/files/Schiessplan2024.pdf">Schiessplan 2024</a>(Pendent)</li>
<li><a href="/files/Flyer_Wyberschiessen2024.pdf">Flyer </a>(Pendent)</li>
<li><a href="/files/Anmeldeformular_2024.pdf">Anmeldeformular</a>(Pendent)</li>


</ul>













<!--


<hr/>
<hr/>

<p><strong>46. Zürcher Unterländer Wyberschiessen 2022 in Embrach</strong> (19. und 28. August 2022)</p> 

<p>Am 19. und 28. August besuchten 111 Frauen aus den Bezirken Bülach und Dielsdorf und den Gastvereinen von Rüdlingen, Kaiserstuhl und Fisibach das im Jahr 1977 gegründete Zürcher Unterländer Wyberschiessen in Embrach.</p>



<ul class="pdflink">
<li><strong><a href="/files/BerichtZU_Wyberschiessen_2022.pdf">Zum Bericht</strong> (30.08.2022)</a></ul>


<ul class="pdflink">
<li><strong><a href="/files/ZU_Wyberschiessen_Gesamtrangliste.pdf">Gesamtrangliste</strong> </a></ul>

 

<ul class="pdflink">
<li><strong><a href="/files/ZU_Wyberschiessen_Gruppenrangliste_S_1_2022.pdf">Gruppenrangliste Seite 1</strong></a></li>
<li><strong><a href="/files/ZU_Wyberschiessen_Gruppenrangliste_S_2_2022.pdf">Gruppenrangliste Seite 2</strong></a></li>
<li><strong><a href="/files/ZU_Wyberschiessen_Gruppenrangliste_S_3_2022.pdf">Gruppenrangliste Seite 3</strong></a></ul>


<ul class="pdflink">
<li><strong><a href="/files/ZU_Wyberschiessen_Rangliste_Kat_A_2022.pdf">Rangliste Kat. A</strong></a></li>
<li><strong><a href="/files/ZU_Wyberschiessen_Rangliste_Kat_B1_2022.pdf">Rangliste Kat. B Seite 1</strong></a></li>
<li><strong><a href="/files/ZU_Wyberschiessen_Rangliste_Kat_B2_2022.pdf">Rangliste Kat. B Seite 2</strong></a></ul>


<ul class="pdflink">
<li><strong><a href="/files/ZU_Wyberschiessen_teiln_Vereine_Anzahl_Schuetzinnen.pdf">Anzahl Schützinnen</strong> </a></ul>

 

<p>Das 46.Wyberschiessen 2022 findet in Embrach (Warpel) statt. 


<h3 style="color:blue;">
 Die Daten für 2022 sind:</h3>

<dl class="fruehlingsliste">

<dt>19. August 2022 </dt>
<dd>18:00 - 20:00 Uhr</dd>


<dt>28. August 2022 </dt>
<dd>08:30 - 11:30 Uhr</dd>

</dl>


<dl class="fruehlingsliste">
<dt>Ausstich </dt>
<dd>Sonntag, ca. 11:15 Uhr</dd>

<dt>Absenden</dt>
<dd>im Anschluss, ca. 13:00 Uhr</dd>
</dl>


 <ul class="linkliste">
<li><a href="http://www.unterlaender-wyberschiessen.jimdofree.com" target="_blank">Zum Schiessplan und Anmeldung</a></li></ul>

-->
<!--


<hr /> 
<p>Das 42. Unterländer Wyberschüssä wurde im 2018 vom <a href="
http://svhoeri.ch"><strong>SV Höri </strong></a> 
durchgeführt. </p>


<p>


<strong>23. August sowie 1. / 2. September fand in in Höri das Wyberschüssä statt. </strong></p>

<p>148 Teilnehmerinnen waren am Start.<br />In der Kat. A gewinnt Koch Karin, SV Dällikon, vor Klose Karin, SG Weiach und Zlauwinen Lilian, SV Schleinikon. <br />In der Kat. B geht der Sieg an Albrecht-Pavoni Elsbeth, SV Hochfelden, vor Landi Stephanie, SV Regensburg und Käfig Regina, SV Bachs. </p>


<p>
<li><a href="files/rang_wyberschuesse_2018.pdf">Ranglsite Wyberschüssä 2018</a> <em>(02.09.2018)</em></li> </p>


<hr />
-->

<!--




<p><strong>Willkommen in Höri</strong></p><p>
Liebe Schützinnen und Gäste</p><p>

Zum 42. Zürcher Unterländer Wyberschiessen heissen wir euch in Höri herzlich willkommen.<br />

Der Anlass wird in zwei Kategorien durchgeführt. Aktive Schützinnen mit Lizenz und Hobby-Schützinnen messen sich in freundschaftlichem Wettkampf und küren je Kategorie ihre Schützenkönigin.<br />

Der Gruppenwettkampf mit je 5 Schützinnen aus beiden Kategorien und dem gleichen Verein verspricht zusätzliche Spannung.<br />

Gerne bewirten wir alle Teilnehmerinnen und Gäste in unserer Festbeiz. <br />

Herzlichen Dank an unsere Inserenten und Spender, die zusammen mit allen Helferinnen und Helfern massgeblich zum guten Gelingen unseres Schützenfestes beitragen.</p><p>

OK Wyberschiessen SV Höri</p>




<h3 style="color:blue;">
 Die Daten für 2018 sind:</h3>

<dl class="fruehlingsliste">

<dt>23. August 2018 </dt>
<dd>17:00 - 20:00 Uhr</dd>



<dt>01. Sept. 2018 </dt>
<dd>13:00 - 17:00 Uhr</dd>

<dt>02. Sept. 2018</dt>
<dd>08:30 - 11:30 Uhr</dd>


</dl>


<dl class="fruehlingsliste">
<dt>Ausstich </dt>
<dd>ca. 11.30 Uhr</dd>

<dt>Absenden</dt>
<dd>13.30 Uhr</dd>
</dl>


<ul class="pdflink">
<li><strong><a href="/files/1803.09_SPL_WB.pdf">Schiessplan Wyberschüssä 2018</strong> (16.06.2018)</a>
<li><strong><a href="/files/AnmeldungWyber18.pdf">Anmeldeformular</strong> (02.01.2018)</a></ul></ul>
-->

<!--
<p>Für Fragen steht der SV Dällikon gerne zur Verfügung. <a href="mailto:info@svdaellikon.ch"><strong>info@svdaellikon.ch</strong></a></p>-->