/*******************************************************************************
Title:  backend.css (URL bsv-buelach.ch backend)
Author: sascha.scholz@actra.ch
Date:   18.12.2009 neu
*******************************************************************************/

/* =reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ul, ol {list-style: none;}

table {border-collapse: collapse; border-spacing: 0;}
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: top; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

body {
  margin-bottom: 10px;
  font-size: small;
  font-family: verdana, sans-serif;
  color: #333;
  background: #ddd;
}

a:link, a:visited {
  color: #333;
  text-decoration: underline;
}

a:hover, a:active {
  color: #666;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {margin-bottom: 1em;}

h1, h2, h3, h4, h5, h6 {
  font-family: arial, sans-serif;
  font-weight: bold;
}

h2 {
  margin-bottom: 1em;
  font-size: 175%;
}

h3 {
  margin-bottom: .5em;
  font-size: 125%;
}

/* =structure
*******************************************************************************/
#wrapper {min-width: 760px;}

#header {
	padding: 30px 0 0;
	width: 100%;
	background: #9EB847 url(/images/backend/header.jpg) 0 100% repeat-x;
	border-bottom: 1px solid #aaa;
	border-color: #9EB847;
}

#header-inner {position: relative;}

#nav-main {
	width: 100%;
	font-size: 90%;
  clear: both;
}

#main {
	padding: 40px 30px;
  font-size: 95%;
  line-height: 1.6em;
  color: #333;
	background: #fff;
	min-height: 300px;
}

#footer {
	padding: 15px 30px;
	clear: both;
	background: transparent url(/images/backend/footer.jpg) 0 0 repeat-x;
  color: #333;
	font-size: 85%;
}

/* header
*******************************************************************************/
h1 {
	margin-left: 30px;
  margin-bottom: 30px;
  font-size: 145%;
  color: #33170D;
}

#nav-main ul {margin: 0 30px;}

#nav-main li {
	margin: 0 1px 0 0;
	float: left;
}

#nav-main li a {
	padding: 10px;
	float: left;
	text-decoration: none;
  color: #33170D;
  background: #F3F3CC url(/images/backend/nav-main-a.gif) 0 100% repeat-x;
  font-weight: bold;
}

#nav-main li a:hover {background: #F3F3CC;}

#nav-main li.nav_current a {
	margin-bottom: -1px;
	padding-bottom: 11px;
  background: #fff;
  color: #C87533;
}

#logout {
	position: absolute;
	top: 0;
	right: 50px;
}

#logout a {
  padding: 5px 10px;
	text-decoration: none;
	font-size: 85%;
  color: #333;
  background: #87A133;
  border: 1px solid #000;
  line-height: 1em;
  border-color: #5a6d15;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#logout a:hover {
  background: #6b811d;
  color: #e2f0b1;
}

/* main
*******************************************************************************/
/* =table */
table {
  margin-bottom: 1em;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 5px 10px 5px 0;
  vertical-align: top;
  text-align: left;
  border: 1px solid #ccc;
	border-width: 0 0 1px;
}

th {
  padding: 5px 10px 1.5em 0;
	border-width: 1px 0 3px;
  font-weight: bold;
	border-color: #333;
}

table img {display: block;}

/* =aktion */
td.aktion {
	padding-right: 0;
	text-align: right;
}

td.aktion ul li {
	margin: 0 0 0 5px;
	display: inline;
}

td.aktion ul li a {font-family: arial, sans-serif;}

td.aktion a.delete,
td.aktion a.herstellen,
.prodlist a.delete {
	background: #cc0000;
	padding: 2px 4px;
	color: #fff;
	font-size: 90%;
	text-decoration: none;
}

td.aktion a.herstellen {background: green;}

/* =form-show */
.form-show {margin: 0 0 1em;}

.form-show fieldset {
	background: #eee;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}

/* =form-edit */
.form-edit fieldset {
  background: #eee;
  padding: 0 0 1em;
}

.form-edit fieldset.submit {
	padding: 2em 1em 0 14em;
	background: none;
}

.form-edit h3 {
	margin: 0 0 1em;
	padding: .1em 1em;
	background: #333;
  border: 1px solid #ddd;
  border-width: 0;
   background: #666;
  color: #fff;
}

.form-edit dl {
	margin: 0;
	padding: 1em 1em 0;
	clear: both;
}

.form-edit dt {
	margin: 0 1em 0 0;
	float: left;
	width: 12em;
	line-height: 1.3em;
  text-align: right;
}

.form-edit dd em {
	font-style: normal;
	font-family: arial, sans-serif;
	line-height: 1.2em;
  margin-left: 13em;
  display: block;
  margin-top: .3em;
}

.form-edit p {margin: 0 1em 1em;}

.form-edit p em {font-style: normal;

}

.form-edit input.text,
.form-edit input.password,
.form-edit textarea {
	padding: 3px;
	width: 320px;
  margin-top: -3px;
}

.form-edit ul {margin: 0 1em 1em 10em;}

.form-edit textarea {
	width: 70%;
	height: 15em;
	overflow: auto;
}

.form-edit dd select {padding: 1px;}

/* =login */
#login {
	margin: 60px auto 0;
	padding: 10px 20px 40px;
	width: 30em;
	background: #fff url(/images/backend/footer.jpg) 0 100% repeat-x;
}

#login h1 {
	margin: 0 -10px 1px;
	padding: 10px;
	font-size: 115%;
	background: #9EB847;
	background: #333;
	color: #fff;
}

#login h2 {
	margin: 0 -10px 1em;
	padding: 5px 10px;
	background: #f2f2f2;
	font-size: 105%;
}

#login ol label {
	margin: 0 1em 0 0;
	float: left;
	width: 6em;
	text-align: right;
}

#login ol li {margin-bottom: 1em;}

#login ol li input.text,
#login ol li input.password {
	padding: .2em;
	width: 20em;
}

#login ol li input.password {width: 12em;}

#login div.submit {padding-left: 7em;}




/* =navi-content */
#navi-content {
  border-bottom: 3px solid #aaa;
  margin-bottom: 2em;
  font-size: 90%;
}

#navi-content ul {border-bottom: 1px solid #fff;}

#navi-content li {
  margin: 0 1px 0 0;
  float: left;
}

#navi-content a,
#navi-content strong {
  padding: 5px 10px;
  float: left;
  text-decoration: none;
  background: #eee;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
}

#navi-content a:hover {
  background: #ddd;
  color: #000;
}

#navi-content strong {
  font-weight: bold;
  background: #aaa;
  color: #fff;
}

/* =formfehler */
#formfehler {
margin-bottom: 1em;
padding: 10px;
background: #ffffcc;
border: 1px solid #ffff66;
}

/* =detailsliste */
.detailsliste {margin-bottom: 2em;}

.detailsliste dl {
padding: .2em 0;
border-bottom: 1px solid #ddd;
}

.detailsliste dt {
float: left;
margin: 0 1em 0 0;
}

.detailsliste dd {margin-left: 15em;}

/* =doclist */
.doclist, .prodlist {
list-style-type: disc;
margin: 0 0 1em 2em;
}

.doclist li, .prodlist li {
margin-bottom: .2em;
}

/* =form-register */
.form-register fieldset {
margin-bottom: 2em;
background: #eee;
padding: 10px;
}

.docs {border-top: 1px solid #ddd;}

form p.notify {padding: 1em 1em 0 9em;}

.batches {
margin: -1em 0 1em 2em;
list-style-type: disc;
}

.link-upload {
background: url(/images/backend/icon-arrowup.gif) 0 50% no-repeat;
padding-left: 18px;
}


#hauptbild {
margin-bottom: 1.5em;
background: #eee;
padding: 10px;
}

#hauptbild p {margin: 0;}



/* neue main styles 18.12.2009 */
.first {
  float: left;
  width: 69%;
}

.secondary {
  float: right;
  width: 29%;
}

.first .section {
  margin-right: 15px;
  background: #eee;
  padding: 15px;
}

.secondary .section {
margin-left: 15px;

}

.section {margin-bottom: 1em;}




/* footer
*******************************************************************************/
#footer p {margin: 0;}

#footer a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/* misc
*******************************************************************************/
.pagination {
	margin-bottom: 1em;
	padding: 5px 0;
	font-size: 90%;
}

.pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination li {
	margin: 0 0;
	display: inline;
}

.pagination a {
	padding: 5px 7px;
	border: 1px solid #aaa;
	text-decoration: none;
	position: relative;
	background: #fff;
	color: #333;
}

.pagination a:link,
.pagination a:visited {font-weight: normal;}

.pagination li.currentpage strong {
	padding: 5px 3px;
	font-weight: bold;
	color: #FF0000;
}

.pagination .zurueck a, .pagination li.zurueckdisable,
.pagination .vor a, .pagination li.vordisable {
	padding: 5px 6px;
	font-weight: bold;
	border: 1px solid #aaa;
	text-decoration: none;
	position: relative;
	color: #333;
}

.pagination a:hover {background: #eee;}

.pagination li.zurueckdisable,
.pagination li.vordisable {
	color: #aaa;
	font-weight: normal;
	border-color: #ddd;
}

.link-add a {
	padding-left: 22px;
	background: url(/images/backend/icon-add.gif) 0 50% no-repeat;
}

.link-edit {
	padding-left: 22px;
	background: url(/images/backend/icon-edit.gif) 0 50% no-repeat;
}

.note-pos,
.note-neg {
	margin: 0 -10px 1em;
	padding: 10px;
	background: #ecfbdc;
	color: #000;
	font-family: arial, sans-serif;
  border: 1px solid #c1e0a0;
}

.note-pos strong,
.note-neg strong {font-weight: normal;}

.note-neg {
  background: #fbdcdc;
  border: 1px solid #eca5a5;
}

.form-required-note {
  font-size: 90%;
}

.form-required-note em {
  color: red;
}


/* =easyclearMethode */
.group:after,
form dl:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}