/*
Print Stylesheet zu bsvb.ch
---------------------------
Update: 12.05.2006
*/

body {
margin: 4%;
width: auto;
background: white;
color: black;
font-family: "Times New Roman", Times, serif;
font-size: 12pt;
}
#wrapper {display: inline;}
h1 a:link, h1 a:visited {
font-family: "trebuchet ms", verdana, sans-serif;
font-size: 19pt;
color: black;
text-decoration: underline;
}
h2 {
font-family: "trebuchet ms", verdana, sans-serif;
font-size: 17pt;
}
h3, h3 a:link, h3 a:visited {
font-size: 15pt;
color: black;
background: white;
font-family: "trebuchet ms", verdana, sans-serif;
text-decoration: none;
}

table {
border: 1pt solid black;
border-width: 1pt;
border-collapse: collapse;
width: auto;
}
th, td {
padding: .2em 1em;
border-bottom: 1pt solid black;
vertical-align: top;
} 
table th {
text-align: left;
border-bottom: 1pt solid black;
}
table th a {text-decoration: none;}
.access, #sidebar, #zusatznavi, p#print {display: none;}
a:link, a:visited {color: black;}
#footer p {font-size: 9pt;}
